@model wipreport.Models.WIP_RPT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WIP_RPT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USER_VALIDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_VALIDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_VALIDATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_VALIDATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_OUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_OUT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
