<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WIP Control</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("WIP Reports", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    @*<div class="jumbotron window-title" style="padding: 2rem 1rem;background-color: transparent;">
        <div style="width:40%;margin-left:auto;margin-right:auto;">
            <img src="~/images/logoTrans.png" style="width:20%;" />
            <label class="header" style="margin-left:50px;">SIIX REPORTS</label>
        </div>
    </div>*@
    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-mobile bootsnav on window" style="background-color: lightsteelblue;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                                <li class="active"><a href="#" data-hover="Home">Home <span data-hover="Home"></span></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Shortcodes">Wip Reports <span data-hover="Shortcodes"></span></a>
                                    <ul class="dropdown-menu animated">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SMT</a>
                                            <ul class="dropdown-menu animated">
                                                <li><a href="#" id="smtIn">IN / Entradas (Current Stock)</a></li>
                                                <li><a href="#" id="smtOut">OUT / Salidas</a></li>
                                                <li><a href="#" id="smtAging">Antigüedad (Aging)</a></li>
                                                <li><a href="#" id="smtFinance">Finance Validation</a></li>
                                                @*<li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                                    <ul class="dropdown-menu multi-dropdown animated">
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                    </ul>
                                                </li>*@
                                                <li><a href="#" disabled>FULL / Todo</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ASSY</a>
                                            <ul class="dropdown-menu animated">
                                                <li><a href="#" id="assyIn">IN / Entradas (Current Stock)</a></li>
                                                <li><a href="#" aria-disabled="true">OUT / Salidas</a></li>
                                                <li><a href="#" id="assyFinance">Assy Finance Validation</a></li>
                                                @*<li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                                    <ul class="dropdown-menu multi-dropdown animated">
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                    </ul>
                                                </li>*@
                                                <li><a href="#" aria-disabled="true">FULL / Todo</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                @*<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Pages">Pages <span data-hover="Pages"></span></a>
                                    <ul class="dropdown-menu animated">
                                        <li><a href="#">Custom Menu</a></li>
                                        <li><a href="#">Custom Menu</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                            <ul class="dropdown-menu animated">
                                                <li><a href="#">Custom Menu</a></li>
                                                <li><a href="#">Custom Menu</a></li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu</a>
                                                    <ul class="dropdown-menu multi-dropdown animated">
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                        <li><a href="#">Custom Menu</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Custom Menu</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Custom Menu</a></li>
                                        <li><a href="#">Custom Menu</a></li>
                                        <li><a href="#">Custom Menu</a></li>
                                        <li><a href="#">Custom Menu</a></li>
                                    </ul>
                                </li>*@
                                @*<li><a href="#" data-hover="Portfolio">Portfolio <span data-hover="Portfolio"></span></a></li>*@
                                <!--<li class="dropdown megamenu-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="Megamenu">Megamenu <span data-hover="Megamenu"></span></a>
                                    <ul class="dropdown-menu megamenu-content animated" role="menu">
                                        <li>
                                            <div class="row">
                                                <div class="col-menu col-md-3">
                                                    <h6 class="title">Title Menu One</h6>
                                                    <div class="content">
                                                        <ul class="menu-col">
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                        </ul>
                                                    </div>
                                                </div>--><!-- end col-3 -->
                                                <!--<div class="col-menu col-md-3">
                                                    <h6 class="title">Title Menu Two</h6>
                                                    <div class="content">
                                                        <ul class="menu-col">
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                        </ul>
                                                    </div>
                                                </div>--><!-- end col-3 -->
                                                <!--<div class="col-menu col-md-3">
                                                    <h6 class="title">Title Menu Three</h6>
                                                    <div class="content">
                                                        <ul class="menu-col">
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-menu col-md-3">
                                                    <h6 class="title">Title Menu Four</h6>
                                                    <div class="content">
                                                        <ul class="menu-col">
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                            <li><a href="#">Custom Menu</a></li>
                                                        </ul>
                                                    </div>
                                                </div>--><!-- end col-3 -->
                                            <!--</div>--><!-- end row -->
                                        <!--</li>
                                    </ul>
                                </li>-->
                                @*<li><a href="#" data-hover="Contact">Contact <span data-hover="Contact"></span></a></li>*@
                            </ul>
                            <img src="~/images/logoTrans.png" style="width:10%;float:right;margin-top:15px;" />
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content" style="width:100%;margin-top:45px;">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>*@
    </div>
    <div id="loader" style="margin-left:auto;margin-right:auto;display:none;">
        <div class="container">
            <div class="loader loader-1">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
