@model IEnumerable<wipreport.Models.WIP_RPT_FIN>
<div class="window" style="margin-top:15px;">
    <div class="window-title">
        <div class="window-content" id="viewRpt" style="color:black;">
            <div id="sectionData">
                <button type="button" class="btn btn-success" style="float:left;margin-left:15px;" id="btnDownload">Descargar reporte</button>
                <table id='tableRept' class='table table-striped table-bordered display nowrap' style='width:100%;font-size:10px;color:black;'>
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.USER_READ)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.USER_VALIDATE)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DATE_VALIDATED)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DATE_OUT)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FIN_USER)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FIN_DATE_VALIDATED)
                            </th>
                            <th> @Html.DisplayNameFor(model => model.FIN_QTY)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USER_READ)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USER_VALIDATE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATE_VALIDATED)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATE_OUT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FIN_USER)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FIN_DATE_VALIDATED)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FIN_QTY)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tableRept').DataTable({
            "paging": true,
            "searching": true,
            "lengthChange": false,
            "pageLength": 15,
            "info": false,
            "autoWidth": true,
            "ordering": true,
            "responsive": true,
            dom: 'Bfrtip',
            buttons: [
                'excel'
            ]
            //'language': { 'url': getVirtDir() + '/Scripts/Spanish.json' }
        });
        $("#sectionData").show("fade");
        $("#sectionLoad").hide();

        getSMTFinReport();
        //new $.fn.dataTable.FixedHeader(table);
    });
</script>
